@import '../../app.scss';
@import '../../variables.scss';

.works{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

    .txt{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        top: 100px;
        position: relative;
    }
}